.section-thais {
    height: 60vh;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
    background-image: linear-gradient(to left bottom, #fff4fc, #fef7fe, #fdfaff, #fefdff, #ffffff);
    position: relative;
    overflow: hidden;
  }

  /* Estilo do conteúdo textual */
  .info-thais {
    flex: 1;
    max-width: 600px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centraliza o conteúdo verticalmente */
    margin-bottom: 2rem;
  }

  .info-thais h2 {
    font-size: var(--fonte-tamanho-4);
    font-family: var(--fonte-principal);
    font-weight: var(--fonte-peso-3);
    color: var(--cor-2);
    margin-bottom: 10px;
    text-align: center; /* Centraliza horizontalmente */
  }

  .info-thais h3 {
    font-size: var(--fonte-tamanho-2);
    font-family: var(--fonte-principal);
    font-weight: var(--fonte-peso-3);
    color: var(--cor-1);
    margin-bottom: 15px;
    text-align: center; /* Centraliza horizontalmente */
  }

  .info-thais h4 {
    font-size: var(--fonte-tamanho-6);
    font-family: var(--fonte-principal);
    font-weight: var(--fonte-peso-3);
    color: var(--cor-2);
    margin-bottom: 2rem;
    text-align: center; /* Centraliza horizontalmente */
  }

  .info-thais p {
    font-size: var(--fonte-tamanho-5);
    font-family: var(--fonte-principal);
    font-weight: var(--fonte-peso-5);
    color: var(--cor-2);
    margin-bottom: 1rem;
    text-align: left; /* Centraliza horizontalmente */
  }

  .info-thais .links {
    display: flex;
    gap: 10px;
    justify-content: center; /* Centraliza os links horizontalmente */
  }

  /* Estilo da imagem da Thais */
  .image-thais {
    flex: 1;
    max-width: 600px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
  }

  .image-thais img {
    width: 100%;
    max-width: 500px;
    object-fit: contain;
    position: absolute;
    bottom: -20px; /* Colado na parte inferior */
    right: 0;
    filter: drop-shadow(4px 2px 10px rgba(0, 0, 0, 0.35));
  }

  /* Responsividade */
  @media (max-width: 768px) {
    .section-thais {
      height: auto;
    }
    .section-thais {
      flex-direction: column; /* Empilha os elementos verticalmente */
      align-items: center;
    }
    .info-thais {
      max-width: 100%;
      align-items: center; /* Centraliza os textos horizontalmente */
      margin-bottom: 0;
      padding: 0 2rem;
    }
    .info-thais h2 {
      font-size: var(--fonte-tamanho-5);
    }
    .info-thais h3 {
      font-size: 1.8rem;
    }
    .info-thais h4 {
      font-size: var(--fonte-tamanho-7);
    }
    .info-thais p {
      font-size: var(--fonte-tamanho-6);
      text-align: center;
    }
    .image-thais {
      max-width: 100%;
      justify-content: center;
      margin-top: 20px;
    }
    .image-thais img {
      position: static; /* Remove o posicionamento absoluto no mobile */
      max-width: 300px;
    }
  }

/*  Equipe  */
.service-section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh; /* Centraliza verticalmente */ 
    padding: 20px;
    background-color: var(--cor-fundo-2);  
  }
  
  .service-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    max-width: 1200px; /* Limita a largura total */
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .service-content {
    max-width: 50%;
  }
  
  .service-content h2 {
    font-size: var(--fonte-tamanho-3);
    font-family: var(--fonte-principal);
    font-weight: var(--fonte-peso-1);
    color: var(--cor-1);
    margin-bottom: 1rem;
  }
  
  .service-content p {
    font-size: var(--fonte-tamanho-5);
    font-family: var(--fonte-principal);
    font-weight: var(--fonte-peso-4);
    color: var(--cor-2);
    margin-bottom: 1rem;
  }
  
  .service-content .description-message {
    font-size: var(--fonte-tamanho-6);
    font-family: var(--fonte-principal);
    font-weight: var(--fonte-peso-1);
    color: var(--cor-1);
    margin-bottom: 1rem;
    text-align: center;
  }

  .service-image {
    max-width: 40%;
    border-radius: 8px;
    object-fit: cover;
    border-radius: 50%;
  }

  .links-container {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  .consulta-link {
    text-decoration: none;
    font-size: var(--fonte-tamanho-6);
    font-family: var(--fonte-principal);
    font-weight: var(--fonte-peso-3);
    color: #fff;
    background-color: var(--cor-2);
    padding: 0.6rem 2rem;
    border-radius: 2rem;
    transition: all ease-out 300ms;
  }

  .consulta-link:hover {
    background-color: var(--cor-1);
    transition: all ease-in 300ms;
  }

  .instagram-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: var(--cor-2);
    border-radius: 50%;
    text-decoration: none;
  }

  .instagram-link i {
    color: #fff;
    font-size: var(--fonte-tamanho-4);
    font-weight: 100;
    transition: all ease-in 300ms;
  }

  .instagram-link:hover {
    background-color: var(--cor-1);
    transition: all ease-in 300ms;
  }

  /* Responsividade */
  @media (max-width: 768px) {
    .links-container {
        justify-content: center;
        gap: 1rem;
    }
    .consulta-link {
      font-size: 14px;
      padding: 8px 15px;
    }
    .instagram-link {
      width: 35px;
      height: 35px;
    }
    .instagram-link i {
      font-size: 20px;
    }
  }
  
  /* Alinhamento das seções */
  .left-content .service-content {
    order: 1;
  }
  
  .left-content .service-image {
    order: 2;
  }
  
  .right-content .service-content {
    order: 2;
  }
  
  .right-content .service-image {
    order: 1;
  }
  
  /* Responsividade */
  
  @media (max-width: 1024px) {
    .service-content p {
      font-size: var(--fonte-tamanho-6);
      font-weight: var(--fonte-peso-4);
    }
  }
  
  @media (max-width: 768px) {
    .service-wrapper {
      flex-direction: column;
      text-align: center;
    }
    .wrapper-left-content {
      flex-direction: column-reverse;
    }
    .service-content,
    .service-image {
      max-width: 100%;
    }
    .service-content h2 {
      font-size: var(--fonte-tamanho-4);
    }
    .service-content p {
      font-size: var(--fonte-tamanho-6);
    }
    .service-link {
      font-size: var(--fonte-tamanho-6);
    }
    .service-image {
      margin-bottom: 15px;
    }
  }