.service-section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh; /* Centraliza verticalmente */
  padding: 20px;
  background-color: var(--cor-fundo-2);
}

#servico1 {
  padding-top: 10rem;
  background-image: linear-gradient(to bottom, #fff4fc, #fff4fc, #fff4fc, #fff4fc, #fff4fc, #fff2fb, #fff1fb, #ffeffa, #ffebf8, #ffe8f6, #ffe4f4, #ffe0f2);
}

#servico12 {
  padding-bottom: 10rem;
}

.service-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  max-width: 1200px; /* Limita a largura total */
  width: 100%;
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.service-content {
  max-width: 50%;
}

.service-content h2 {
  font-size: var(--fonte-tamanho-3);
  font-family: var(--fonte-principal);
  font-weight: var(--fonte-peso-3);
  color: var(--cor-1);
  margin-bottom: 1rem;
}

.service-content p {
  font-size: var(--fonte-tamanho-5);
  font-family: var(--fonte-principal);
  font-weight: var(--fonte-peso-4);
  color: var(--cor-2);
  margin-bottom: 2rem;
}

.service-link {
  color: var(--cor-fonte-1);
  font-size: var(--fonte-tamanho-5);
  font-weight: var(--fonte-peso-3);
  font-family: var(--fonte-principal);
  text-decoration: none;
  padding: 0.5rem 4rem;
  background-color: var(--cor-2);
  border-radius: 2rem;
  transition: all ease-out 500ms;
}

.service-link:hover {
  background-color: var(--cor-1);
  transition: all ease-in 300ms;
} 

.service-image {
  max-width: 50%;
  border-radius: 8px;
  object-fit: cover;
  overflow: hidden;
}

/* Alinhamento das seções */
.left-content .service-content {
  order: 1;
}

.left-content .service-image {
  order: 2;
}

.right-content .service-content {
  order: 2;
}

.right-content .service-image {
  order: 1;
}

/* Responsividade */

@media (max-width: 1024px) {
  .service-content p {
    font-size: var(--fonte-tamanho-6);
    font-weight: var(--fonte-peso-4);
  }
}

@media (max-width: 768px) {
  .service-wrapper {
    flex-direction: column;
    text-align: center;
  }
  .service-content,
  .service-image {
    max-width: 100%;
  }
  .service-content h2 {
    font-size: var(--fonte-tamanho-4);
  }
  .service-content p {
    font-size: var(--fonte-tamanho-6);
  }
  .service-link {
    font-size: var(--fonte-tamanho-6);
  }
  .service-image {
    margin-bottom: 15px;
  }
}
