body, main {
    width: 100%;
    height: 100%;
}

.content__section__home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--cor-fundo-1);
    overflow: hidden;
}

.content__section__home__text {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    position: relative;
}

.elemento__circulo {
    position: absolute;
    width: 400px;
    height: 400px;
    background-color: var(--cor-1);
    border-radius: 50%;
    left: -125px;
    bottom: -350px;
}
.elemento__circulo2 {
    position: absolute;
    width: 300px;
    height: 300px;
    background-color: var(--cor-1);
    border-radius: 50%;
    right: -100px;
    top: -200px;
}
.elemento__circulo3 {
    position: absolute;
    width: 300px;
    height: 300px;
    background-color: var(--cor-2);
    border-radius: 50%;
    left: 100px;
    top: -250px;
}
.elemento__circulo4 {
    position: absolute;
    width: 300px;
    height: 300px;
    background-color: var(--cor-2);
    border-radius: 50%;
    right: 150px;
    bottom: -350px;
}

.home__text {
    width: 40%;
}

.home__text p {
    color: var(--cor-2);
    font-size: var(--fonte-tamanho-3);
    font-weight: var(--fonte-peso-3);
    font-family: var(--fonte-principal);
}

.home__text h1 {
    color: var(--cor-1);
    font-size: var(--fonte-tamanho-1);
    font-weight: var(--fonte-peso-1);
    font-family: var(--fonte-principal);
    padding-bottom: 1rem;
}

.home__text h2 {
    color: var(--cor-2);
    font-size: var(--fonte-tamanho-4);
    font-weight: var(--fonte-peso-4);
    font-family: var(--fonte-principal);
    padding: 2rem 0;
}

.home__text a {
    color: var(--cor-fonte-1);
    font-size: var(--fonte-tamanho-4);
    font-weight: var(--fonte-peso-3);
    font-family: var(--fonte-principal);
    text-decoration: none;
    padding: 0.5rem 4rem;
    background-color: var(--cor-2);
    border-radius: 2rem;
    transition: all ease-out 500ms;
}

.home__text a:hover {
    background-color: var(--cor-1);
    transition: all ease-in 300ms;
}

.home__Img {
    width: 40%;
}

.content__section__home__text img {
    width: 600px;
    height: 600px;
    background-color: var(--cor-2);
    border-radius: 50%;
    border: 10px solid var(--cor-1);
}

@media (max-width: 768px) {
    .content__section__home__text {
        flex-direction: column-reverse;
        gap: 4rem;
    }
    .elemento__circulo {
        width: 200px;
        height: 200px;
        left: -100px;
        bottom: -300px;
    }
    .elemento__circulo2 {
        width: 200px;
        height: 200px;
        right: -100px;
        top: -200px;
    }
    .elemento__circulo3 {
        width: 200px;
        height: 200px;
        left: -150px;
        top: -100px;
    }
    .elemento__circulo4 {
        width: 200px;
        height: 200px;
        right: -150px;
        bottom: -150px;
    }
    .home__text {
        width: 100%;
        padding-left: 1rem;
    }
    .home__text h1 {
        font-size: var(--fonte-tamanho-2);
    }
    .home__text p {
        font-size: var(--fonte-tamanho-4);
    }
    .home__text h2 {
        font-size: var(--fonte-tamanho-5);
    }
    .home__text a {
        font-size: var(--fonte-tamanho-5);
    }
    .home__Img {
        width: 100%;
    }
    .content__section__home__text img {
        width: 250px;
        height: 250px;
    }
}

@media (max-width: 400px) {
    .content__section__home {
        padding-top: 3rem;    
    }
    .content__section__home__text {
        gap: 1rem;
    }
    .elemento__circulo {
        display: none;
    }
    .elemento__circulo2 {
        display: none;
    }
    .elemento__circulo3 {
        display: none;
    }
    .elemento__circulo4 {
        display: none;
    }
}

/* FIM HOME */
/* INICIO SOBRE */

.content__section__about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 6rem 0;
    background-image: url("/src/Img/Img_bg_crescer.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.content__section__about__text {
    max-width: 1200px;
    padding: 2rem;
    background-color: #f594b32d ;
    border-radius: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur( 4.5px );
    -webkit-backdrop-filter: blur( 4.5px );
}

.content__section__about__text h1 {
    color: var(--cor-2);
    font-size: var(--fonte-tamanho-2);
    font-weight: var(--fonte-peso-1);
    font-family: var(--fonte-principal);
    padding-bottom: 1rem;

}

.content__section__about__text p {
    color: var(--cor-fonte-2);
    font-size: var(--fonte-tamanho-5);
    font-weight: var(--fonte-peso-5);
    font-family: var(--fonte-principal);
    letter-spacing: 1px;
}

@media (max-width: 400px) {
    .content__section__about__text {
        padding: 1rem;
    }
    .content__section__about__text h1 {
        font-size: var(--fonte-tamanho-3);
    }
    .content__section__about__text p {
        font-size: var(--fonte-tamanho-7);
    }
}


/* SOBRE THAIS */

.about-client {
    display: flex;
    align-items: center;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.photo-container {
    flex: 1;
}

.photo-container img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 10px;
}

.text-container {
    flex: 2;
}

.text-container h1 {
    font-size: 1.8rem;
    color: #222;
    margin-bottom: 10px;
}

.text-container h2 {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 15px;
}

.text-container p {
    font-size: 1rem;
    color: #666;
    line-height: 1.5;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .about-client {
        flex-direction: column;
        text-align: center;
    }

    .text-container {
        padding: 20px 0;
    }

    .text-container h1 {
        font-size: 1.5rem;
    }

    .text-container h2 {
        font-size: 1rem;
    }

    .text-container p {
        font-size: 0.9rem;
    }
}


/* CARDS */

.card-container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 cards por linha */
    gap: 1rem;
    padding: 2rem;
    width: 100%;
    max-width: 1200px;
}

@media (max-width: 768px) {
    .card-container {
        grid-template-columns: repeat(2, 1fr); /* 2 cards por linha em telas menores */
    }
}

@media (max-width: 480px) {
    .card-container {
        grid-template-columns: 1fr; /* 1 card por linha em telas muito pequenas */
    }
}

.card {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.icon {
    font-size: 2.5rem;
    color: #4CAF50;
    margin-bottom: 0.5rem;
}

h3 {
    font-size: 1.5rem;
    margin: 0.5rem 0;
    color: #333;
}

p {
    font-size: 1rem;
    color: #666;
}
